<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Digitaler Impfpass
  </h1>
  <h2>
    Anmeldung
  </h2>

  <form (ngSubmit)="sendForm()">
    <div class="floating-placeholder">
      <label for="username">Username</label>
      <input [(ngModel)]="user.username" type="text" id="username" name="username"/>
    </div>
    <div class="floating-placeholder">
      <label for="password">Password</label>
      <input [(ngModel)]="user.password" type="password" id="password" name="password"/>
    </div>
    <div class="floating-placeholder">
      <input style="background-color: skyblue" type="submit" value="Log In"/>
    </div>
  </form>

  <div *ngIf="!logoutSuccess">

    <div *ngIf="apiToken">
      You are authenticated and your API token is {{ apiToken }}
    </div>

    <div style="margin-top: 15px" *ngIf="apiResult">
      We just made a call to the backend api with the above token and the result is
      {{ apiResult }}
    </div>

    <div *ngIf="showUnauthorizedMessage">
      Your are not authenticated, please wait a few seconds for redirection to saml identity provider...
    </div>

    <button style="margin-top: 15px" *ngIf="apiToken"  (click)=logout()> logout</button>

  </div>

  <div *ngIf="logoutSuccess" style="margin-top: 15px">
    Successfully logout, refresh the app to log in again
  </div>



</div>


